<div class="dashboard-numbers">
  <div
    class="card"
  >
    <h3>Investitionskosten&nbsp;<sup
      class="tooltip-icon"
      [appTooltip]="allgemeinTooltips.investitionskosten"
      placement="bottom"
      >&#9432;</sup
    ></h3>
    <div>
      {{ investitionskosten | currency : "EUR" : "symbol" : "1.0-0" : "de" }}
    </div>
  </div>
  <div
    title="Finanzierungskosten Bank: {{
      finanzierungskostenFinanzmarkt
        | currency : 'EUR' : 'symbol' : '1.0-0' : 'de'
    }}"
    class="card"
  >
    <h3>Finanz<wbr />ierungs<wbr />kosten Bank</h3>
    <div>
      {{
        finanzierungskostenFinanzmarkt
          | currency : "EUR" : "symbol" : "1.0-0" : "de"
      }}
    </div>
  </div>
  <div
    title="Finanzierungskosten KfW: {{
      finanzierungskostenKfw | currency : 'EUR' : 'symbol' : '1.0-0' : 'de'
    }}"
    class="card"
  >
    <h3>Finanz<wbr />ierungs<wbr />kosten KfW</h3>
    <div>
      {{
        finanzierungskostenKfw | currency : "EUR" : "symbol" : "1.0-0" : "de"
      }}
    </div>
  </div>
  <div
    class="card"
  >
    <h3>KfW Zinssatz&nbsp;<sup
      class="tooltip-icon"
      [appTooltip]="allgemeinTooltips.kfwZinssatz"
      placement="bottom"
      >&#9432;</sup
    ></h3>
    <div>
      {{ zinssatzKfw | percent : "1.0-3" : "de" }}
    </div>
  </div>
</div>
