<div class="card-container">
  <div class="card">
    <h3>
      Kosten [€/m² Bauteil]&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="einzelmassnahmenTooltips.placeholder"
        placement="right"
        >&#9432;</sup
      >
    </h3>
    <div>
      {{ kostenM2 | currency : "EUR" : "symbol" : "1.0-0" : "de" }}
    </div>
  </div>
  <div
    title="Kosten: {{ kosten | currency : 'EUR' : 'symbol' : '1.0-0' : 'de' }}"
    class="card"
  >
    <h3>Vollkosten Kosten [€]</h3>
    <div>{{ kosten | currency : "EUR" : "symbol" : "1.0-0" : "de" }}</div>
  </div>
</div>
<div class="card-container">
  <div
    title="Sowieso-Kosten: {{
      sowiesoKosten | currency : 'EUR' : 'symbol' : '1.0-0' : 'de'
    }}"
    class="card"
  >
    <h3>Sowieso-Kosten [€]</h3>
    <div>
      {{ sowiesoKosten | currency : "EUR" : "symbol" : "1.0-0" : "de" }}
    </div>
  </div>
  <div
    title="Energetisch Mehrkosten: {{
      energetischMehrkosten | currency : 'EUR' : 'symbol' : '1.0-0' : 'de'
    }}"
    class="card"
  >
    <h3>Energetisch Mehrkosten [€]</h3>
    <div>
      {{ energetischMehrkosten | currency : "EUR" : "symbol" : "1.0-0" : "de" }}
    </div>
  </div>
</div>
