<div
  title="Baukosten: {{
    investitionskosten | currency : 'EUR' : 'symbol' : '3.0'
  }} "
  class="card"
>
  <h3>Baukosten</h3>
  <!-- <div>{{ investitionskosten | shortNumber }}</div> -->
  <div>{{ investitionskosten | currency : "EUR" : 'symbol' : '1.0-0' }}</div>
</div>
<div
  title="Bank-Kredit: {{ bankKredit | currency : 'EUR' : 'symbol' : '1.0-0' }}"
  class="card"
>
  <h3>Bank-<wbr />Kredit</h3>
  <div>{{ bankKredit | currency : 'EUR' : 'symbol' : '1.0-0' }}</div>
</div>
<div
  title="KfW-Kredit: {{ kfwKredit | currency : 'EUR' : 'symbol' : '1.0-0' }}"
  class="card"
>
  <h3>KfW-<wbr />Kredit</h3>
  <div>{{ kfwKredit | currency : 'EUR' : 'symbol' : '1.0-0' }}</div>
</div>
@if (typ === "Sanierung") {
<div
  title="KfW-Zuschuss: {{ kfwZuschuss | currency : 'EUR' : 'symbol' : '1.0-0' }}"
  class="card"
>
  <h3>KfW-<wbr />Zuschuss</h3>
  <div>{{ kfwZuschuss | currency : "EUR" : 'symbol' : '1.0-0' }}</div>
</div>
}
<div
  title="Finanzierungskosten Finanzmarkt: {{
    finanzierungskostenFinanzmarkt | currency : 'EUR' : 'symbol' : '1.0-0' 
  }}"
  class="card"
>
  <h3>Finanz<wbr />ierungs<wbr />kosten Bank</h3>
  <div>
    {{ finanzierungskostenFinanzmarkt | currency : "EUR" : 'symbol' : '1.0-0' }}
  </div>
</div>
<div
  title="Finanzierungskosten KfW: {{
    finanzierungskostenKfw | currency : 'EUR' : 'symbol' : '1.0-0'  
  }}"
  class="card"
>
  <h3>Finanz<wbr />ierungs<wbr />kosten KfW</h3>
  <div>{{ finanzierungskostenKfw | currency : "EUR" : 'symbol' : '1.0-0' }}</div>
</div>
