<form [formGroup]="projektFormNeu">
  <h2>Projekt</h2>
  <fieldset>
    <legend>Wohnfläche [m²] <sup>&#9432;</sup></legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="wohnflaecheRange"
        min="{{ formProjektNeuService.wohnflaeche.min }}"
        max="{{ formProjektNeuService.wohnflaeche.max }}"
        step="{{ formProjektNeuService.wohnflaeche.step }}"
        class="slider"
      />
      <input
        type="number"
        formControlName="wohnflaeche"
        min="{{ formProjektNeuService.wohnflaeche.min }}"
        max="{{ formProjektNeuService.wohnflaeche.max }}"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
  <fieldset>
    <legend>Anzahl Wohnungen <sup>&#9432;</sup></legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="anzahlWohnungenRange"
        min="{{ formProjektNeuService.anzahlWohnungen.min }}"
        max="{{ formProjektNeuService.anzahlWohnungen.max }}"
        step="{{ formProjektNeuService.anzahlWohnungen.step }}"
        class="slider"
      />
      <input
        type="number"
        formControlName="anzahlWohnungen"
        min="{{ formProjektNeuService.anzahlWohnungen.min }}"
        max="{{ formProjektNeuService.anzahlWohnungen.max }}"
        step="{{ formProjektNeuService.anzahlWohnungen.step }}"
      />
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>Energiestandard <sup>&#9432;</sup></legend>
    <span *ngFor="let item of formProjektNeuService.energiestandardOptions">
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="energiestandard"
        formControlName="energiestandard"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>Konstruktion <sup>&#9432;</sup></legend>
    <span *ngFor="let item of formProjektNeuService.konstruktionOptions">
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="konstruktion"
        formControlName="konstruktion"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>Zertifizierung klimafreundlicher <sup>&#9432;</sup></legend>
    <span *ngFor="let item of formProjektNeuService.zertifizierungOptions">
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="zertifizierung"
        formControlName="zertifizierung"
      />
      <label title="{{ item.text }}" for="{{ item.id }}">{{
        item.value
      }}</label>
    </span>
  </fieldset>
</form>
