<form [formGroup]="projektFormNeu">
  <!-- <h2>Projekt</h2> -->
  <fieldset>
    <legend>
      {{ formService.wohnflaeche.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-bottom">{{
          formService.wohnflaeche.description
        }}</span></sup
      >
    </legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="wohnflaecheRange"
        min="{{ formService.wohnflaeche.min }}"
        max="{{ formService.wohnflaeche.max }}"
        step="{{ formService.wohnflaeche.step }}"
        class="slider"
      />
      <input
        type="number"
        formControlName="wohnflaeche"
        name="wohnflaeche"
        min="{{ formService.wohnflaeche.min }}"
        max="{{ formService.wohnflaeche.max }}"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
  <fieldset>
    <legend>
      {{ formService.anzahlWohnungen.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.anzahlWohnungen.description
        }}</span></sup
      >
    </legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="anzahlWohnungenRange"
        min="{{ formService.anzahlWohnungen.min }}"
        max="{{ formService.anzahlWohnungen.max }}"
        step="{{ formService.anzahlWohnungen.step }}"
        class="slider"
      />
      <input
        type="number"
        formControlName="anzahlWohnungen"
        name="anzahlWohnungen"
        min="{{ formService.anzahlWohnungen.min }}"
        max="{{ formService.anzahlWohnungen.max }}"
        step="{{ formService.anzahlWohnungen.step }}"
      />
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.energiestandard.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.energiestandard.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.energiestandard.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="energiestandard"
        formControlName="energiestandard"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.konstruktion.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.konstruktion.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.konstruktion.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="konstruktion"
        formControlName="konstruktion"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.zertifizierung.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-left">{{
          formService.zertifizierung.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.zertifizierung.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="zertifizierung"
        formControlName="zertifizierung"
      />
      <label title="{{ item.text }}" for="{{ item.id }}">{{
        item.value
      }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.kellergeschoss.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.kellergeschoss.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.kellergeschoss.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="kellergeschossIn"
        formControlName="kellergeschossIn"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.stellplaetze.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.stellplaetze.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.stellplaetze.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="stellplaetzeIn"
        formControlName="stellplaetzeIn"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.aufzugsanlage.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.aufzugsanlage.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.aufzugsanlage.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="aufzugsanlageIn"
        formControlName="aufzugsanlageIn"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.barrierefreiheit.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.barrierefreiheit.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.barrierefreiheit.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="barrierefreiheitIn"
        formControlName="barrierefreiheitIn"
      />
      <!-- I added innerHTML in this one to be able to breakword with <wbr /> -->
      <label for="{{ item.id }}">{{ item.text }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.dachbegruenung.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.dachbegruenung.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.dachbegruenung.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="dachbegruenungIn"
        formControlName="dachbegruenungIn"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.baustellenlogistik.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-left">{{
          formService.baustellenlogistik.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.baustellenlogistik.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="baustellenlogistikIn"
        formControlName="baustellenlogistikIn"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.aussenanlagen.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-top">{{
          formService.aussenanlagen.description
        }}</span></sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.aussenanlagen.options"
    >
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.value }}"
        name="aussenanlagenIn"
        formControlName="aussenanlagenIn"
      />
      <label for="{{ item.id }}">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset>
    <legend>
      {{ formService.grundstKosten.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-left">{{
          formService.grundstKosten.description
        }}</span></sup
      >
    </legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="grundstuecksbezogeneKostenRange"
        min="{{ formService.grundstKosten.min }}"
        max="{{ formService.grundstKosten.max }}"
        step="{{ formService.grundstKosten.step }}"
        class="slider"
      />
      <input
        type="number"
        formControlName="grundstuecksbezogeneKosten"
        name="grundstuecksbezogeneKosten"
        min="{{ formService.grundstKosten.min }}"
        max="{{ formService.grundstKosten.max }}"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
  <fieldset>
    <legend>
      {{ formService.baunebenkostenKeinFin.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-left">{{
          formService.baunebenkostenKeinFin.description
        }}</span></sup
      >
    </legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="baunebenkostenKeinFinRange"
        min="{{ formService.baunebenkostenKeinFin.min }}"
        max="{{ formService.baunebenkostenKeinFin.max }}"
        step="{{ formService.baunebenkostenKeinFin.step }}"
        class="slider"
      />
      <input
        type="number"
        formControlName="baunebenkostenKeinFin"
        name="baunebenkostenKeinFin"
        min="{{ formService.baunebenkostenKeinFin.min }}"
        max="{{ formService.baunebenkostenKeinFin.max }}"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
</form>
