<form [formGroup]="formService.darlehenForm">
  <fieldset>
    <legend>
      {{ formService.zinssatzBank.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.bankZinssatz"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="zinssatzBankRange"
        [min]="formService.zinssatzBank.min"
        [max]="formService.zinssatzBank.max"
        [step]="formService.zinssatzBank.step"
        class="slider"
      />
      <input
        type="number"
        formControlName="zinssatzBank"
        name="zinssatzBank"
        [min]="formService.zinssatzBank.min"
        [max]="formService.zinssatzBank.max"
        [step]="formService.zinssatzBank.step"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
  <fieldset>
    <legend>
      {{ formService.kreditlaufzeit.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.kreditlaufzeit"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="kreditlaufzeitRange"
        [min]="formService.kreditlaufzeit.min"
        [max]="formService.kreditlaufzeit.max"
        [step]="formService.kreditlaufzeit.step"
        class="slider"
      />
      <input
        type="number"
        formControlName="kreditlaufzeit"
        name="kreditlaufzeit"
        [min]="formService.kreditlaufzeit.min"
        [max]="formService.kreditlaufzeit.max"
        [step]="formService.kreditlaufzeit.step"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.kfWDarlehen.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.kfwDarlehen"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <div class="as-legend" aria-hidden="true">
      {{ formService.kfWDarlehen.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.kfwDarlehen"
        placement="right"
        >&#9432;</sup
      >
    </div>
    <div class="radio-options">
      <span
        class="radio-option"
        *ngFor="let item of formService.kfWDarlehen.options"
      >
        <input
          type="radio"
          [id]="item.id"
          [value]="item.value"
          name="kfWDarlehen"
          formControlName="kfWDarlehen"
          [attr.disabled]="item.disabled ? '' : null"
        />
        <label class="radio-container" [for]="item.id"
          >{{ item.value }}
          <span class="radiomark"></span>
        </label>
      </span>
    </div>
  </fieldset>
  @if (formService.noEndfaelliges) {
  <div class="warning-block">
    *Endfälliges ist nur zwischen 4 und 10 Jahren möglich
  </div>
  }
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.bankDarlehen.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.bankDarlehen"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <div class="as-legend" aria-hidden="true">
      {{ formService.bankDarlehen.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.bankDarlehen"
        placement="right"
        >&#9432;</sup
      >
    </div>
    <div class="radio-options">
      <span
        class="radio-option"
        *ngFor="let item of formService.bankDarlehen.options"
      >
        <input
          type="radio"
          [id]="item.id"
          [value]="item.value"
          name="bankDarlehen"
          formControlName="bankDarlehen"
        />
        <label class="radio-container" [for]="item.id"
          >{{ item.value }}
          <span class="radiomark"></span>
        </label>
      </span>
    </div>
  </fieldset>
</form>
