
<div class="avatar-wrapper">
  <button
    class="button-img"
    (click)="file.click()"
    aria-label="Change profile photo"
  >
    <figure aria-hidden="true">
      @if (_avatarUrl) {
      <img
        class=""
        [src]="_avatarUrl"
        alt=""
        aria-hidden="true"
        class="avatar image"
      />
      } @else {
      <div class="avatar no-image"></div>
      }
    </figure>
    <div class="camera-wrapper">
      <div class="camera-icon"></div>
    </div>
  </button>
</div>
<input type="file" accept="image/*" #file (change)="uploadAvatar($event)" [style.visibility]="'hidden'">
<!-- <div>
  <label class="button" for="single">
    {{ uploading ? "Uploading ..." : "Upload" }}
  </label>
  <input
    style="visibility: hidden; position: absolute"
    type="file"
    id="single"
    accept="image/*"
    (change)="uploadAvatar($event)"
    [disabled]="uploading"
  />
</div> -->
