<form [formGroup]="formService.darlehenForm">
    <fieldset>
      <legend>{{ formService.zinssatzBank.title }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-right">{{
          formService.zinssatzBank.description
        }}</span></sup
      ></legend>
      <span class="slidernumber">
        <input
          type="range"
          formControlName="zinssatzBankRange"
          [min]="formService.zinssatzBank.min"
          [max]="formService.zinssatzBank.max"
          [step]="formService.zinssatzBank.step"
          class="slider"
        />
        <input
          type="number"
          formControlName="zinssatzBank"
          name="zinssatzBank"
          [min]="formService.zinssatzBank.min"
          [max]="formService.zinssatzBank.max"
          [step]="formService.zinssatzBank.step"
          (keyup.enter)="onEnterKey($event)"
        />
      </span>
    </fieldset>
    <fieldset>
      <legend>{{ formService.kreditlaufzeit.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-right">{{
          formService.kreditlaufzeit.description
        }}</span></sup
      ></legend>
      <span class="slidernumber">
        <input
          type="range"
          formControlName="kreditlaufzeitRange"
          [min]="formService.kreditlaufzeit.min"
          [max]="formService.kreditlaufzeit.max"
          [step]="formService.kreditlaufzeit.step"
          class="slider"
        />
        <input
          type="number"
          formControlName="kreditlaufzeit"
          name="kreditlaufzeit"
          [min]="formService.kreditlaufzeit.min"
          [max]="formService.kreditlaufzeit.max"
          [step]="formService.kreditlaufzeit.step"
          (keyup.enter)="onEnterKey($event)"
        />
      </span>
    </fieldset>
    <fieldset class="radio-fieldset">
      <legend>{{ formService.kfWDarlehen.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-right">{{
          formService.kfWDarlehen.description
        }}</span></sup
      ></legend>
      <span class="radio-option" *ngFor="let item of formService.kfWDarlehen.options">
        <input
          type="radio"
          [id]="item.id"
          [value]="item.value"
          name="kfWDarlehen"
          formControlName="kfWDarlehen"
          [attr.disabled]="(formService.noEndfaelliges && item.value === 'Endfälliges') ? '' : null"
        />
        <label [for]="item.id">{{ item.value }}</label>
      </span>
    </fieldset>
    @if (formService.noEndfaelliges) {
      <div class="warning-block">
        *Endfälliges ist nur zwischen 4 und 10 Jahren möglich
      </div>
      }
    <fieldset class="radio-fieldset">
      <legend>{{ formService.bankDarlehen.title
      }}<sup class="tooltip"
        >&#9432;<span class="tooltiptext tooltip-right">{{
          formService.bankDarlehen.description
        }}</span></sup
      ></legend>
      <span class="radio-option" *ngFor="let item of formService.bankDarlehen.options">
        <input
          type="radio"
          [id]="item.id"
          [value]="item.value"
          name="bankDarlehen"
          formControlName="bankDarlehen"
        />
        <label [for]="item.id">{{ item.value }}</label>
      </span>
    </fieldset>
  </form>
  