.selected path,
.selected polygon {
  fill: aquamarine;
  filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 6px aquamarine)
    drop-shadow(0 0 8px aquamarine);
}

.selected line,
.selected polyline {
  stroke: white;
}

.selectable:hover path,
.selectable:hover polygon {
  fill: aquamarine;
}

.selectable:hover line,
.selectable:hover polyline {
  stroke: teal;
}
