.selected path,
.selected polygon {
  fill: aquamarine;
  filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2px aquamarine)
    drop-shadow(0 0 4px aquamarine);
}

.selected line,
.selected polyline {
  stroke: white;
}

.selectable:hover path,
.selectable:hover polygon {
  fill: aquamarine;
  cursor: pointer;
}

.selectable:hover line,
.selectable:hover polyline {
  stroke: teal;
  cursor: pointer;
}
