<fieldset class="radio-fieldset">
  <legend>
    {{ data().title }}
  </legend>
  <div class="as-legend" aria-hidden="true">
    {{ data().title }}@if (data().tooltip) {&nbsp;
    <span class="tooltip-icon" [appTooltip]="data().tooltip!" placement="right"
      >&#9432;</span
    >
    }
  </div>
  <div class="radio-options">
    <span class="radio-option" *ngFor="let item of data().options">
      <input
        type="radio"
        [id]="item.id"
        [value]="item.value"
        [checked]="selected() === item.value"
        (click)="onClick(item.value)"
        [attr.disabled]="item.disabled ? '' : null"
      />
      <label class="radio-container" [for]="item.id"
        >{{ item.value }}
        <span class="radiomark"></span>
      </label>
    </span>
  </div>
</fieldset>
