<h1>{{ title }}</h1>
<p class="description">Sign in via magic link with your email</p>
<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
  <div>
    <label for="email">Email</label>
    <input
      id="email"
      inputmode="email"
      formControlName="email"
      class="inputField"
      type="email"
      placeholder="Your email"
    />
    <div>
      <i class="warning"
      *ngIf="signInForm.controls['email'].invalid && (signInForm.controls['email'].dirty || signInForm.controls['email'].touched)"
      >A valid email is required
      </i>
    </div>
  </div>
  <div>
    <button type="submit" class="" [disabled]="loading" [disabled]="signInForm.invalid">
      {{ loading ? "Loading" : "Get login link" }}
    </button>
  </div>
</form>
