.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: var(--layout-padding);
  border-radius: var(--button-radius);
  border: 1px solid var(--primary);
}

form {
  width: 100%;
  & div {
    padding-top: var(--layout-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    & label {
      padding-bottom: 0.5rem;
    }
    & input {
      height: var(--button-height);
      border-radius: var(--button-radius);
      padding-left: 1rem;
      border: 1px solid var(--primary);
    }
    input:focus {
      outline-color: var(--secondary);
    }
  }
}

@media screen and (max-width: 1280px) {
  .auth-wrapper {
    width: 60%;
  }
}
@media screen and (max-width: 850px) {
  .auth-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .auth-wrapper {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .auth-wrapper {
    width: 95%;
  }
}
@media (max-width: 350px) {
  .auth-wrapper {
    width: 98%;
  }
}
