<div class="title" #top>
  <div class="arrow-and-h1">
    <div (click)="toggleExpand()" class="arrow-container">
      <div class="arrow">
        <span [@rotateArrow]="isExpanded ? 'expanded' : 'collapsed'"
          >&#9658;</span
        >
      </div>
    </div>
    <h1>
      <span (click)="toggleExpand()" class="tool-title">{{ title() }}</span>
      <span> / </span>
      <input
        type="text"
        name="projektRename"
        id="projektRename"
        autocomplete="off"
        [(ngModel)]="projektName"
        #projektRename
        (click)="projektRename.select()"
        (keyup.enter)="projektRename.blur()"
      />
    </h1>
  </div>
  <div class="kfw-info">
    <div>
      <div
        class="kfw-description"
        [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'"
      >
        <div class="kfw-number-container">
          <div class="kfw-number">
            <div class="kfw-id">KfW id</div>
            {{ kfwId() }}
          </div>
        </div>
        <div>
          <h2>{{ kfwH2() }}</h2>
          <h3>{{ kfwH3() }}</h3>
          <p [innerHTML]="kfwDescription()"></p>
        </div>
      </div>
    </div>
  </div>
</div>
