.title {
  padding: var(--layout-padding);
  & .arrow-and-h1 {
    width: fit-content;
  }
}

.arrow-and-h1 {
  display: flex;
  align-items: start;
}

.arrow-and-h1:hover .arrow {
  background-color: var(--bg-secondary);
}

.arrow-container {
  cursor: pointer;
  margin-right: 0.25rem;
  margin-top: 0.5rem;
}

.arrow {
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--button-radius) / 2);
}

.tool-title {
  cursor: pointer;
}

input {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 150%;
}

input:focus {
  outline: var(--bg-primary);
}

.kfw-info {
  display: flex;
  flex-direction: column;
  & h2 {
    padding-bottom: 0.4rem;
  }
  & h3 {
    padding-bottom: 0.2rem;
  }
}

/* I added display flex to the animation 'expandCollapseTitle' in animations.ts */
/* to avoid content flashing on page load */
.kfw-description {
  gap: 1rem;
  background-color: var(--bg-tertiary);
  width: clamp(100px, 100%, 50rem);
  font-family: var(--font-family-primary);
  overflow: hidden;
  padding: var(--layout-padding);
  border-radius: var(--button-radius);
  display: none;
}

.kfw-description a {
  text-decoration: underline;
  color: var(--secondary);
}

.kfw-description a:hover {
  color: var(--primary50);
}

.kfw-number-container {
  width: fit-content;
  justify-content: center;
}

.kfw-number {
  font-family: var(--font-family-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  padding: 0 1rem;
  background-color: var(--bg-secondary);
  border-radius: var(--button-radius);
  & .kfw-id {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    margin-bottom: -0.25rem;
    color: var(--primary30);
  }
}

@media screen and (max-width: 850px) {
  .arrow-container {
    margin-top: 5px;
  }

  .arrow {
    flex: 1;
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .title {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-top: 0;
    padding-bottom: 0;
  }

  .kfw-description {
    flex-direction: column;
    margin-bottom: var(--mobile-padding);
  }

  input {
    margin: 0.4rem 0;
    font-size: 1.5rem;
    line-height: 100%;
  }
}

@media (max-width: 400px) {
  .title {
    padding-left: 0;
    padding-right: 0;
  }

  .arrow {
    height: 1.2rem;
    width: 1.2rem;
  }

  .kfw-number {
    font-size: 1.3rem;
  }

  input {
    font-size: 1.2rem;
  }
}
