.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: var(--bg-primary85);
  z-index: 300;
}

.date {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  z-index: 301;
}

.date_container {
  position: relative;
  pointer-events: auto;
  background: var(--bg-secondary);
  width: clamp(500px, 50svw, 800px);
  height: fit-content;
  padding: 5svh 5svw;
  overflow-y: auto;
  border-radius: var(--button-radius);
  font-family: var(--font-alt);
}

p,
a {
  color: var(--primary);
  font-weight: 300;
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--secondary);
}

h1,
h2 {
  font-weight: 500;
  color: var(--primary);
}

h1,
h2 + p {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
}

.icon {
  width: 1.5rem;
  aspect-ratio: 1/1;
  fill: var(--primary);
}

@media screen and (max-width: 700px) {
  .date_container {
    width: clamp(300px, 80svw, 100svw);
    padding: 5svh 5svw;
  }
}
