.tables {
  display: flex;
  flex-direction: column;
  margin-right: var(--layout-padding);
  margin-left: var(--layout-padding);
  overflow-y: auto;
}

.wrapper-table {
  gap: calc(var(--layout-padding) / 2);
  background-color: var(--bg-secondary);
  border-radius: var(--button-radius);
  overflow-x: scroll;
}

.title {
  padding: var(--layout-padding);
  & .arrow-and-h1 {
    width: fit-content;
  }
}

h2 {
  padding-top: var(--layout-padding);
  padding-bottom: var(--layout-padding);
}

.icon {
  width: 20px;
  height: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  border-radius: var(--button-radius);
  /* overflow-y: auto; */
}

thead {
  border-radius: var(--button-radius);
  /* overflow-y: auto; */
}

tbody {
  /* overflow-y: auto; */
}

th,
td {
  border: 1px solid #000;
  padding: 1rem 1rem;
}

table tr:first-child th:first-child {
  border-top-left-radius: var(--button-radius);
}

table tr:first-child th:last-child {
  border-top-right-radius: var(--button-radius);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: var(--button-radius);
}

table tr:first-child td:last-child {
  border-bottom-right-radius: var(--button-radius);
}

table tr:first-child th {
  border-top: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

tr:last-child {
  border-bottom-left-radius: var(--button-radius);
  border-bottom-right-radius: var(--button-radius);
}
tr:nth-child(even) {
  background-color: var(--bg-primary);
}

tr:hover {
  background-color: var(--bg-tertiary);
  cursor: grab;
}

th {
  background-color: var(--bg-tertiary);
  text-align: left;
  font-weight: normal;
}

.new-item td {
  background-color: var(--bg-secondary);
  color: var(--primary50);
  border: none;
}

.new-item:hover td {
  background-color: var(--bg-tertiary);
}
