<!-- <div class="output-numbers">
    <div class="output-card">
        <div>KfW-Kredit</div>
        <div>{{ kfwKredit | currency:'EUR' }}</div>
    </div>
    <div class="output-card">
        <div>Bank-Kredit</div>
        <div>{{ bankKredit | currency:'EUR' }}</div>
    </div>
    <div class="output-card">
        <div>Finkosten (KfW)</div>
        <div>{{ finanzierungskostenKfw | currency:'EUR' }}</div>
    </div>
    <div class="output-card">
        <div>Kosten Finanzmarkt</div>
        <div>{{ finanzierungskostenMarkt | currency:'EUR' }}</div>
    </div>
    <div class="output-card">
        <div>Investitionskosten</div>
        <div>{{ investitionkosten | currency:'EUR' }}</div>
    </div>
    <div class="output-card">
        <div>Zuschuss (KfW)</div>
        <div>{{ zuschuss | currency:'EUR' }}</div>
    </div>
    <div class="output-card">
        <div>G. Investition</div>
        <div>{{ gInvestition | currency:'EUR' }}</div>
    </div>
    <div class="output-card">
        <div>G. Finanzierung</div>
        <div>{{ gFinanzierung | currency:'EUR' }}</div>
    </div>
</div> -->
<div class="charts">
    <app-chart-gkosten></app-chart-gkosten>
</div>