<div class="output-numbers">
    <div class="output-card">
        <div>KfW-Kredit</div>
        <div>{{ kfwKredit | currency:'EUR' }}</div>
    </div>
    <div class="output-card">
        <div>Bank-Kredit</div>
        <div>€ 2,000k</div>
    </div>
    <div class="output-card">
        <div>Finanzierungskosten KfW</div>
        <div>€ 2,000k</div>
    </div>
    <div class="output-card">
        <div>Finazierungskosten Finanzmarkt</div>
        <div>€ 2,000k</div>
    </div>
    <div class="output-card">
        <div>Investitionskosten</div>
        <div>€ 2,000k</div>
    </div>
</div>