<div class="title" #top>
  <h1>{{ title }}</h1>
</div>
<div class="container-tool">
  <div class="container-input">
    <!-- progress bar can be its own component -->
    <div class="progress-bar">
      <input
        type="button"
        value="Projekt"
        title="Projekt"
        (click)="currentForm = 1"
        [className]="currentForm === 1 ? 'full-pill left-pill' : 'grayed-pill left-pill'"
      />
      <input
        type="button"
        value="Darlehen"
        title="Darlehen"
        (click)="currentForm = 2"
        [className]="currentForm === 2 ? 'full-pill right-pill' : 'grayed-pill right-pill'"
      />
    </div>
    <app-form-projekt-neubau
      [hidden]="!(currentForm === 1)"
    ></app-form-projekt-neubau>
    <app-form-darlehen [hidden]="!(currentForm === 2)"></app-form-darlehen>
    <!-- <fieldset class="progress-buttons">
      <div class="container-button">
        @if (currentForm > 1) {
        <input
          type="button"
          value="PREVIOUS"
          (click)="previousForm(); scroll(top)"
        />
        }
      </div>
      <div class="container-button">
        @if (currentForm < 2){
        <input type="button" value="NEXT" (click)="nextForm(); scroll(top)" />
        }
      </div>
    </fieldset> -->
  </div>
  <div class="output">
    <app-dashboard-numbers></app-dashboard-numbers>
    <div class="charts-container">
      <app-chart-gkosten-neubau></app-chart-gkosten-neubau>
      <app-chart-gkosten-m2-neubau></app-chart-gkosten-m2-neubau>
      <app-chart-finanzierungskosten></app-chart-finanzierungskosten>
      <app-chart-tilgung></app-chart-tilgung>
      <app-chart-annuitaeten></app-chart-annuitaeten>
    </div>
  </div>
</div>
