<div class="title" #top>
  <h1>{{ title }}</h1>
</div>
<div class="container-tool">
  <div class="inputs">
    <div class="tool-tab">
      <input
        type="button"
        value="Projekt"
        title="Projekt Formular"
        (click)="currentForm = 1"
        [className]="
          currentForm === 1
            ? 'full-pill left-pill pill'
            : 'grayed-pill left-pill pill'
        "
      />
      <input
        type="button"
        value="Darlehen"
        title="Darlehen Formular"
        (click)="currentForm = 2"
        [className]="
          currentForm === 2
            ? 'full-pill right-pill pill'
            : 'grayed-pill right-pill pill'
        "
      />
    </div>
    <div class="wraper-gradient">
      <app-form-projekt-neubau
        [hidden]="!(currentForm === 1)"
      ></app-form-projekt-neubau>
      <app-form-darlehen [hidden]="!(currentForm === 2)"></app-form-darlehen>
    </div>
  </div>
  <div class="output">
    <app-dashboard-numbers></app-dashboard-numbers>
    <div class="charts-container">
      <app-chart-gkosten-neubau></app-chart-gkosten-neubau>
      <app-chart-gkosten-m2-neubau></app-chart-gkosten-m2-neubau>
      <app-chart-finanzierungskosten></app-chart-finanzierungskosten>
      <app-chart-tilgung></app-chart-tilgung>
      <app-chart-annuitaeten></app-chart-annuitaeten>
    </div>
  </div>
</div>
