<app-title [title]="title" [kfwId]="kfwId" [kfwH2]="kfwH2" [kfwH3]="kfwH3" [kfwDescription]="kfwDescription"></app-title>
<div class="container-tool">
  <div class="numbers-mover tablet">
  @if(this.sanierungService.currentTab() === 1) {
    <app-numbers-projekt-sanierung></app-numbers-projekt-sanierung>
  } @else {
    <app-numbers-darlehen-sanierung></app-numbers-darlehen-sanierung>
    }
  </div>
  <div class="inputs">
    <div class="tool-tab">
      <input
        type="button"
        value="Projekt"
        title="Projekt Formular"
        (click)="this.sanierungService.currentTab.set(1)"
        [className]="
          this.sanierungService.currentTab() === 1
            ? 'full-pill left-pill pill'
            : 'grayed-pill left-pill pill'
        "
      />
      <input
        type="button"
        value="Darlehen"
        title="Darlehen Formular"
        (click)="this.sanierungService.currentTab.set(2)"
        [className]="
          this.sanierungService.currentTab() === 2
            ? 'full-pill right-pill pill'
            : 'grayed-pill right-pill pill'
        "
      />
    </div>
    <div class="wrapper-gradient">
      <app-form-projekt-sanierung
        [hidden]="!(this.sanierungService.currentTab() === 1)"
      ></app-form-projekt-sanierung>
      <app-form-darlehen-sanierung
        [hidden]="!(this.sanierungService.currentTab() === 2)"
      ></app-form-darlehen-sanierung>
    </div>
  </div>
  @if (this.sanierungService.currentTab() === 1) {
  <div class="output">
    <div class="numbers-mover">
      <app-numbers-projekt-sanierung></app-numbers-projekt-sanierung>
    </div>
    <app-charts-projekt-sanierung></app-charts-projekt-sanierung>
  </div>
  } @else {
  <div class="output">
    <div class="numbers-mover">
      <app-numbers-darlehen-sanierung></app-numbers-darlehen-sanierung>
    </div>
    <app-charts-darlehen-sanierung></app-charts-darlehen-sanierung>
  </div>
  }
</div>
