<div class="title-mob-numbers">
  <app-title
    [title]="title"
    [(projectTitle)]="sanierungService.projectTitle"
    [kfwId]="kfwId"
    [h2]="kfwH2"
    [h3]="kfwH3"
    [description]="kfwDescription"
  ></app-title>
  <div class="numbers-mover tablet">
    @if(sanierungService.currentTab() === 1) {
    <app-numbers-projekt-sanierung></app-numbers-projekt-sanierung>
    } @else {
    <app-numbers-darlehen-sanierung></app-numbers-darlehen-sanierung>
    }
  </div>
</div>
<div class="container-tool">
  <div class="inputs inputs-gradient">
    <div class="tool-tab">
      <button
        title="Projekt Formular"
        (click)="sanierungService.currentTab.set(1)"
        [className]="
          sanierungService.currentTab() === 1
            ? 'full-pill left-pill pill'
            : 'grayed-pill left-pill pill'
        "
      >
        Projekt
      </button>
      <button
        title="Darlehen Formular"
        (click)="sanierungService.currentTab.set(2)"
        [className]="
          sanierungService.currentTab() === 2
            ? 'full-pill right-pill pill'
            : 'grayed-pill right-pill pill'
        "
      >
        Darlehen
      </button>
    </div>
    <div class="wrapper-gradient">
      <app-form-projekt-sanierung
        [hidden]="!(sanierungService.currentTab() === 1)"
      ></app-form-projekt-sanierung>
      <app-form-darlehen-sanierung
        [hidden]="!(sanierungService.currentTab() === 2)"
      ></app-form-darlehen-sanierung>
    </div>
  </div>
  @if (sanierungService.currentTab() === 1) {
  <div class="output">
    <div class="numbers-mover">
      <app-numbers-projekt-sanierung></app-numbers-projekt-sanierung>
    </div>
    <app-charts-projekt-sanierung></app-charts-projekt-sanierung>
    <button class="button" (click)="saveProject()">Save</button>
  </div>
  } @else {
  <div class="output">
    <div class="numbers-mover">
      <app-numbers-darlehen-sanierung></app-numbers-darlehen-sanierung>
    </div>
    <app-charts-darlehen-sanierung></app-charts-darlehen-sanierung>
    <button class="button" (click)="saveProject()">Save</button>
  </div>
  }
</div>
<!-- <app-help></app-help> -->
