.house-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.house {
  width: 300px;
}

@media screen and (max-width: 1280px) {
  .house {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .house {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .house {
    width: 250px;
  }
}
