<form>
  <app-radio
    [hidden]="!(formService.bauteilSelected() === 'Dach')"
    [(selected)]="formService.dachSelected"
    [data]="formService.dachObj()"
  />
  <app-radio
    [hidden]="
      !(
        formService.bauteilSelected() === 'Dach' &&
        formService.dachSelected() === 'Flachdach'
      )
    "
    [(selected)]="formService.flachdachSelected"
    [data]="formService.flachdachObj()"
  />
  <app-slider-input
    [hidden]="!(formService.bauteilSelected() === 'Fenster')"
    [(value)]="formService.fensterflaecheValue"
    [data]="formService.fensterflaeche()"
  />
  <app-slider-input
    [hidden]="!(formService.bauteilSelected() === 'Fenster')"
    [(value)]="formService.anzahlFensterValue"
    [data]="formService.anzahlFenster()"
    [round]="0"
  />
  <app-radio
    [hidden]="!(formService.bauteilSelected() === 'Fenster')"
    [(selected)]="formService.fensterSelected"
    [data]="formService.fensterObj()"
  />
  <app-slider-input
    [hidden]="!(formService.bauteilSelected() === 'Türen')"
    [(value)]="formService.tuerflaecheValue"
    [data]="formService.tuerflaecheObj()"
  />
  <app-radio
    [hidden]="!(formService.bauteilSelected() === 'Kellerdecke')"
    [(selected)]="formService.kellerSelected"
    [data]="formService.kellerObj()"
  />
  <app-radio
    [hidden]="!(formService.bauteilSelected() === 'ObersteGeschossdecke')"
    [(selected)]="formService.obersteGeschossdeckeSelected"
    [data]="formService.obersteGeschossdeckeObj()"
  />
  <app-slider-input
    *ngIf="formService.isOpakeVisible()"
    [(value)]="formService.gedaemmteflaecheValue"
    [data]="formService.gedaemmteflaecheObj()"
  />
  <app-slider-input
    *ngIf="formService.isOpakeVisible()"
    [(value)]="formService.daemmstoffdickeValue"
    [data]="formService.daemmstoffdickeObj()"
  />
  <app-slider-input
    [hidden]="!(formService.bauteilSelected() === 'Steildachgauben')"
    [(value)]="formService.gaubeflaecheValue"
    [data]="formService.gaubeflaecheObj()"
  />
  <app-slider-input
    [hidden]="!(formService.bauteilSelected() === 'Vorbaurollladen')"
    [(value)]="formService.rollladenflaecheValue"
    [data]="formService.rollladenflaecheObj()"
  />
  <app-radio
    [hidden]="!(formService.bauteilSelected() === 'Vorbaurollladen')"
    [(selected)]="formService.vorbaurollladenSelected"
    [data]="formService.vorbaurollladenObj()"
  />
</form>
