<div class="dashboard-numbers">
    <div
      title="Baukosten: {{
        investitionskosten | currency : 'EUR' : 'symbol' : '3.0'
      }} "
      class="card"
    >
      <h3>Baukosten</h3>
      <div>{{ investitionskosten | currency : "EUR" : "symbol" : "1.0-0" }}</div>
    </div>
    <div
      title="Bank Kredit: {{
        bankKredit | currency : 'EUR' : 'symbol' : '1.0-0'
      }}"
      class="card"
    >
      <h3>Bank Kredit</h3>
      <div>{{ bankKredit | currency : "EUR" : "symbol" : "1.0-0" }}</div>
    </div>
    <div
      title="KfW Kredit: {{ kfwKredit | currency : 'EUR' : 'symbol' : '1.0-0' }}"
      class="card"
    >
      <h3>KfW Kredit</h3>
      <div>{{ kfwKredit | currency : "EUR" : "symbol" : "1.0-0" }}</div>
    </div>
    <!-- Only display KfW Zuschuss on Sanierung  -->
    @if (typ === "Sanierung") {
    <div
      title="KfW Zuschuss: {{
        kfwZuschuss | currency : 'EUR' : 'symbol' : '1.0-0'
      }}"
      class="card"
    >
      <h3>KfW Zuschuss</h3>
      <div>{{ kfwZuschuss | currency : "EUR" : "symbol" : "1.0-0" }}</div>
    </div>
    }
    <div
      title="Finanzierungskosten Finanzmarkt: {{
        finanzierungskostenFinanzmarkt | currency : 'EUR' : 'symbol' : '1.0-0'
      }}"
      class="card"
    >
      <h3>Finanz<wbr />ierungs<wbr />kosten Bank</h3>
      <div>
        {{
          finanzierungskostenFinanzmarkt | currency : "EUR" : "symbol" : "1.0-0"
        }}
      </div>
    </div>
    <div
      title="Finanzierungskosten KfW: {{
        finanzierungskostenKfw | currency : 'EUR' : 'symbol' : '1.0-0'
      }}"
      class="card"
    >
      <h3>Finanz<wbr />ierungs<wbr />kosten KfW</h3>
      <div>
        {{ finanzierungskostenKfw | currency : "EUR" : "symbol" : "1.0-0" }}
      </div>
    </div>
  </div>
  <div class="charts-container">
    <app-chart-gkosten-sanierung></app-chart-gkosten-sanierung>
    <app-chart-gkosten-m2-sanierung></app-chart-gkosten-m2-sanierung>
    <app-chart-einheitskosten-sanierung></app-chart-einheitskosten-sanierung>
  </div>
  