<div class="dashboard-numbers">
  <div
    title="Baukosten: {{
      investitionskosten | currency : 'EUR' : 'symbol' : '3.0' : 'de' }} "
    class="card"
  >
    <h3>Baukosten</h3>
    <div>{{ investitionskosten | currency : "EUR" : "symbol" : "1.0-0" : 'de' }}</div>
  </div>
  <div
    title="Bank Kredit: {{
      bankKredit | currency : 'EUR' : 'symbol' : '1.0-0' : 'de' }}"
    class="card"
  >
    <h3>Bank Kredit</h3>
    <div>{{ bankKredit | currency : "EUR" : "symbol" : "1.0-0" : 'de' }}</div>
  </div>
  <div
    title="KfW Kredit: {{ kfwKredit | currency : 'EUR' : 'symbol' : '1.0-0' : 'de' }}"
    class="card"
  >
    <h3>KfW Kredit</h3>
    <div>{{ kfwKredit | currency : "EUR" : "symbol" : "1.0-0" : 'de' }}</div>
  </div>
  <div
    title="KfW Zuschuss: {{
      kfwZuschuss | currency : 'EUR' : 'symbol' : '1.0-0' : 'de' }}"
    class="card"
  >
    <h3>KfW Zuschuss</h3>
    <div>
      {{ kfwZuschuss | currency : "EUR" : "symbol" : "1.0-0" : 'de'  }}
    </div>
  </div>
  <div title="KfW Zuschuss: {{ kfwZuschussPercent | percent : '1.0-3' : 'de' }}" class="card">
    <h3>KfW Zuschuss</h3>
    <div>{{ kfwZuschussPercent | percent : '1.0-3' : 'de' }}</div>
  </div>
  <div
    title="KfW Kredit / Whg: {{
      KfwKreditschwelleProWe | currency : 'EUR' : 'symbol' : '1.0-0' : 'de' }}"
    class="card"
  >
    <h3>KfW Kredit / Whg</h3>
    <div>{{ KfwKreditschwelleProWe | currency : "EUR" : "symbol" : "1.0-0" : 'de' }}</div>
  </div>
</div>
<div class="charts-container">
  <app-chart-gkosten-sanierung></app-chart-gkosten-sanierung>
  <app-chart-gkosten-m2-sanierung></app-chart-gkosten-m2-sanierung>
  <app-chart-einheitskosten-sanierung></app-chart-einheitskosten-sanierung>
</div>
