<form [formGroup]="this.formService.projektFormSanierung">
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.projektType.title }}
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.projektType.options"
    >
      <input
        type="radio"
        [id]="item.id"
        [value]="item.value"
        name="projektType"
        formControlName="projektType"
        [attr.disabled]="item.disabled ? '' : null"
      />
      <label [for]="item.id">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset>
    <div class="legend-info">
      <legend>{{ formService.wohnflaeche.title }}&nbsp;</legend>
      <sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.wohnflaeche"
        placement="right"
        >&#9432;</sup
      >
    </div>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="wohnflaecheRange"
        [min]="formService.wohnflaeche.min"
        [max]="formService.wohnflaeche.max"
        [step]="formService.wohnflaeche.step"
        class="slider"
      />
      <input
        type="number"
        formControlName="wohnflaeche"
        name="wohnflaeche"
        [min]="formService.wohnflaeche.min"
        [max]="formService.wohnflaeche.max"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
  <fieldset class="hidden" [class.visible]="!formService.anzahlWohnungen.disabled">
    <legend>
      {{ formService.anzahlWohnungen.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.anzahlWohneinheiten"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="anzahlWohnungenRange"
        [min]="formService.anzahlWohnungen.min"
        [max]="formService.anzahlWohnungen.max"
        [step]="formService.anzahlWohnungen.step"
        class="slider"
        [attr.disabled]="formService.anzahlWohnungen.disabled ? '' : null"
      />
      <input
        type="number"
        formControlName="anzahlWohnungen"
        name="anzahlWohnungen"
        [min]="formService.anzahlWohnungen.min"
        [max]="formService.anzahlWohnungen.max"
        [step]="formService.anzahlWohnungen.step"
        [attr.disabled]="formService.anzahlWohnungen.disabled ? '' : null"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.umfangModernisierung.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="sanierungTooltips.umfaengModernisierung"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.umfangModernisierung.options"
    >
      <input
        type="radio"
        [id]="item.id"
        [value]="item.value"
        name="umfangModernisierung"
        formControlName="umfangModernisierung"
        [attr.disabled]="item.disabled ? '' : null"
      />
      <label [for]="item.id">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset>
    <legend>
      {{ formService.worstPerformingBuilding.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="sanierungTooltips.worstPerformingBuilding"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <input
      type="checkbox"
      id="worstPerformingBuilding"
      formControlName="worstPerformingBuilding"
      [attr.disabled]="formService.worstPerformingBuilding.disabled ? '' : null"
    />
    <label for="worstPerformingBuilding" class="checkbox-container">
      Ja
      <span class="checkmark"></span>
    </label>
  </fieldset>
  <br />
  <div class="toggle-wrapper">
    <label for="eigeneKostenToggle" class="label-toggle">
      Eigene Kostenberechnung&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="allgemeinTooltips.eigeneKostenkalkulation"
        placement="right"
        >&#9432;</sup
      >
    </label>
    <div class="checkbox-toggle-wrapper">
      <label class="toggle-box">
        <input
          type="checkbox"
          id="eigeneKostenToggle"
          formControlName="eigeneKostenToggle"
        />
        <span class="toggle-round"></span>
      </label>
    </div>
  </div>
  <fieldset class="eigeneKosten">
    <legend>
      {{ this.formService.eigeneKosten.title }}
    </legend>
    <span class="slidernumber">
      <input
        type="range"
        formControlName="eigeneKostenRange"
        name="eigeneKostenRange"
        [min]="this.formService.eigeneKosten.min"
        [max]="this.formService.eigeneKosten.max"
        [step]="this.formService.eigeneKosten.step"
        class="slider"
      />
      <input
        type="number"
        formControlName="eigeneKosten"
        name="eigeneKosten"
        [min]="this.formService.eigeneKosten.min"
        [max]="this.formService.eigeneKosten.max"
        (keyup.enter)="onEnterKey($event)"
      />
    </span>
  </fieldset>
  <br />
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.energiestandard.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="sanierungTooltips.energiestandard"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.energiestandard.options"
    >
      <input
        type="radio"
        [id]="item.id"
        [value]="item.value"
        name="energiestandard"
        formControlName="energiestandard"
        [attr.disabled]="item.disabled ? '' : null"
      />
      <label [for]="item.id">{{ item.value }}</label>
    </span>
  </fieldset>
  <fieldset class="radio-fieldset">
    <legend>
      {{ formService.foerderbonus.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="sanierungTooltips.foerderbonus"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <span
      class="radio-option"
      *ngFor="let item of formService.foerderbonus.options"
    >
      <input
        type="radio"
        [id]="item.id"
        [value]="item.value"
        name="foerderbonus"
        formControlName="foerderbonus"
        [attr.disabled]="item.disabled ? '' : null"
      />
      <label [for]="item.id">{{ item.text }}</label>
    </span>
  </fieldset>
  <fieldset>
    <legend>
      {{ formService.serielleSanierung.title }}&nbsp;<sup
        class="tooltip-icon"
        [appTooltip]="sanierungTooltips.serielleSanierung"
        placement="right"
        >&#9432;</sup
      >
    </legend>
    <input
      type="checkbox"
      id="serielleSanierung"
      formControlName="serielleSanierung"
      [attr.disabled]="formService.serielleSanierung.disabled ? '' : null"
    />
    <label for="serielleSanierung" class="checkbox-container">
      Ja
      <span class="checkmark"></span>
    </label>
  </fieldset>
</form>
