<div class="container">
  <header>
    <nav class="side-bar">
      <ul>
        <li title="BuildSystems Logo" class="logo">
          <a href="" class="">
            <div class="icon-placeholder"></div>
            <span>BS Logo</span>
          </a>
        </li>
        <li title="Profile" class="menu-profile">
          <a href="" class="">
            <div class="icon-placeholder"></div>
            <span>Profile</span>
          </a>
        </li>
        <li title="Portfolio" class="portfolio">
          <a href="" class="">
            <div class="icon-placeholder"></div>
            <span>Portfolio</span>
          </a>
        </li>
        <li title="Neubau" class="neubau">
          <a href="" class="">
            <div class="icon-placeholder"></div>
            <span>Neubau</span>
          </a>
        </li>
        <li title="Sanierung" class="sanierung">
          <a href="" class="">
            <div class="icon-placeholder"></div>
            <span>Sanierung</span>
          </a>
        </li>
        <li title="Settings" class="settings">
          <a href="" class="">
            <div class="icon-placeholder"></div>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container-tool">
    <div class="container-input">
      <div class="input-project">Input Project Component</div>
      <div class="input-specific">Input Specifics Component</div>
      <div class="input-loan">Input Loan Component</div>
    </div>
    <div class="container-results">
      <div class="output-numbers">Output Numbers Component</div>
      <div class="outputs-graphs">Output Graps Component</div>
    </div>
  </div>
</div>