<div class="title">
    <h1>{{ title }}</h1>
</div>
<div class="container-tool">
    <div class="container-input">
        <div class="progress-bar">Progress bar</div>
        <div>
            <app-parameter-projekt (sendWohnflaecheEvent)="sendWohnflaeche($event)"></app-parameter-projekt>
            <div>TEST: {{ wohnflaeche }}</div>
            <app-parameter-sanierung></app-parameter-sanierung>
            <app-parameter-darlehen></app-parameter-darlehen>
        </div>
    </div>
    <app-output class="container-output"></app-output>
</div>