.container-tool {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    min-height: 100dvh;
    padding: 4svh var(--layout-padding) var(--layout-padding);
}

.ng-input {
    width: 50%;
}

.ng-output {
    width: 50%;
}