.output {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.wrapper-list-button {
  overflow-y: auto;
  height: 100%;
}

.wrapper-list-button button {
  width: 100%;
}

.button {
  border-color: var(--bg-secondary);
  margin-top: calc(var(--layout-padding) / 2);
}

.wrapper-gradient {
  scrollbar-gutter: stable;
}
