.house-input {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  gap: calc(var(--layout-padding) / 2);
}

.house-container {
  border-radius: var(--button-radius);
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-tertiary);
}

.dropdown-fieldset {
  margin: 0;
}

.dropdown {
  background-color: var(--bg-secondary);
}

.dropdown:hover {
  background-color: #404040;
}

.output {
  display: grid;
  overflow-y: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.wrapper-list-button {
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--mobile-padding);
}

.wrapper-list-button button {
  width: 100%;
}

form {
  width: 100%;
}

.output-numbers-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--mobile-padding);
  height: 100%;
  overflow-y: auto;
}

.inputs {
  flex: 1;
}

.host-forms {
  flex: 1;
  border-radius: var(--button-radius);
  padding: var(--layout-padding);
  padding-top: 0;
  /* padding-bottom: 0; */
}

.house-form {
  padding: var(--layout-padding);
  padding-top: 0;
}

.card {
  flex-grow: auto;
}

.host-chart {
  display: flex;
  height: 40%;
}

.host-list {
  overflow-y: auto;
  display: flex;
  flex: 1;
}

.host-house {
  display: flex;
  flex-grow: 1;
  width: 300px;
}

@media screen and (max-width: 1280px) {
  .container-tool {
    overflow-y: auto;
    gap: var(--layout-padding);
  }

  .output {
    display: block;
    overflow-y: visible;
  }

  .inputs {
    flex: 0;
  }

  .output-numbers-inputs {
    height: auto;
    padding-bottom: var(--layout-padding);
  }

  .wrapper-list-button {
    padding-bottom: var(--layout-padding);
    height: fit-content;
  }

  .host-list {
    flex: none;
  }
}

@media screen and (max-width: 400px) {
  .house {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .house {
    width: 250px;
  }
}
