<div class="home__image"></div>
<div class="home__text">
  <h1>Fördertool</h1>
  <h2>
    Willkommen beim Fördermittel-Kalkulator von BuildSystems. Das Tool
    untersützt Sie bei der frühzeitigen Gegenüberstellung von Kosten,
    Fördermittelpotentialen und Anforderungen.
  </h2>
  <p>
    Vergleichen Sie verschiedene KfW-Förderprodukte anhand deren Anforderungen
    und den entsprechenden finanziellen Vorteilen durch Tilgungszuschüsse und
    vergünstigte Kreditzinsen. Das Tool stellt die jeweiligen Anforderungen zu
    Energieeffizienzstufen den damit verbundenen Kosten gegenüber und zeigt an
    welche Option für Ihre Immobilien die lukrativste ist.
  </p>
  <div class="home__text__buttons">
    <button>
      <a href="/neubau"
        ><svg class="icon">
          <use xlink:href="assets/icons.svg#neubau" />
        </svg>
        <span class="noselect">Neubau</span>
      </a>
    </button>
    <button>
      <a href="/sanierung"
        ><svg class="icon">
          <use xlink:href="assets/icons.svg#sanierung" />
        </svg>
        <span class="noselect">Sanierung</span>
      </a>
    </button>
  </div>
</div>
