<div class="home__image"></div>
<div class="home__text">
  <h1>Fördertool</h1>
  <h2>
    Willkommen beim Fördermittel-Kalkulator von BuildSystems. Das Tool
    untersützt Sie bei der frühzeitigen Gegenüberstellung von Kosten,
    Fördermittelpotentialen und Anforderungen.
  </h2>
  <div class="home__text__buttons">
    <button>
      <a href="/neubau"
        ><svg class="icon">
          <use xlink:href="assets/icons.svg#neubau" />
        </svg>
        <span class="noselect">Neubau</span>
      </a>
    </button>
    <button>
      <a href="/sanierung"
        ><svg class="icon">
          <use xlink:href="assets/icons.svg#sanierung" />
        </svg>
        <span class="noselect">Sanierung</span>
      </a>
    </button>
  </div>
</div>
