<form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" class="  ">
  <app-avatar [avatarUrl]="this.avatarUrl" (upload)="updateAvatar($event)">
  </app-avatar>
</form>
<form
  [formGroup]="updateProfileForm"
  (ngSubmit)="updateProfile()"
  class="form-profile"
>
  <div>
    <label for="email">Email</label>
    <input
      id="email"
      type="text"
      [value]="supabaseService.sessionSignal()!.user.email"
      disabled
      autocomplete="off"
    />
  </div>
  <div>
    <label for="username">Name</label>
    <input
      formControlName="username"
      id="username"
      type="text"
      autocomplete="on"
    />
  </div>
  <div>
    <label for="website">Website</label>
    <input
      formControlName="website"
      id="website"
      type="url"
      autocomplete="on"
    />
  </div>

  <div>
    <button type="submit" class="button" [disabled]="loading">
      {{ loading ? "Loading ..." : "Update" }}
    </button>
  </div>

  <div>
    <button class="button block" (click)="signOut()">Log Out</button>
  </div>
</form>
