<div class="dashboard-numbers">
    <div
      title="Baukosten: {{
        investitionskosten | currency : 'EUR' : 'symbol' : '3.0' : 'de' }} "
      class="card"
    >
      <h3>Baukosten</h3>
      <div>{{ investitionskosten | currency : "EUR" : "symbol" : "1.0-0" : 'de' }}</div>
    </div>
    <div
      title="Finanzierungskosten Bank: {{
        finanzierungskostenFinanzmarkt | currency : 'EUR' : 'symbol' : '1.0-0' : 'de' }}"
      class="card"
    >
      <h3>Finanz<wbr />ierungs<wbr />kosten Bank</h3>
      <div>
        {{
          finanzierungskostenFinanzmarkt | currency : "EUR" : "symbol" : "1.0-0" : 'de' }}
      </div>
    </div>
    <div
      title="Finanzierungskosten KfW: {{
        finanzierungskostenKfw | currency : 'EUR' : 'symbol' : '1.0-0' : 'de' }}"
      class="card"
    >
      <h3>Finanz<wbr />ierungs<wbr />kosten KfW</h3>
      <div>
        {{ finanzierungskostenKfw | currency : "EUR" : "symbol" : "1.0-0" : 'de' }}
      </div>
    </div>
    <div title="Sollzins KfW: {{ sollzinsKfw  | percent : '1.0-3' : 'de' }}" class="card">
      <h3>Sollzins KfW</h3>
      <div>
        {{ sollzinsKfw | percent : '1.0-3' : 'de'  }}
      </div>
    </div>
  </div>