/* BuildSystems Official Font Family */
/* ABC Diatype, ABC Diatype Mono */
@import url("https://assets.buildsystems.de/font.css");

:root {
  --primary: white;
  --primary90: rgba(255, 255, 255, 0.9);
  --primary80: rgba(255, 255, 255, 0.8);
  --primary70: rgba(255, 255, 255, 0.7);
  --primary50: rgba(255, 255, 255, 0.5);
  --primary30: rgba(255, 255, 255, 0.3);
  --secondary: aquamarine;
  --bg-primary: #222;
  --bg-primary75: rgba(34, 34, 34, 0.75);
  --bg-secondary: #333;
  --bg-tertiary: #444;
  --bg-tertiary95: rgba(68, 68, 68, 0.95);
  --font-family-primary: "ABC Diatype";
  --font-family-secondary: "ABC Diatype Mono";
  --layout-padding: 1rem;
  --handle-diameter: 0.8rem;
  --button-height: 2.6rem;
  --button-radius: 0.5rem;
  --nav-sel-thickness: 2px;
  --mobile-handle-diameter: 1.6rem;
  --mobile-padding: 0.5rem;
  --mobile-header: calc(40px + (2 * var(--mobile-padding)));
  --tooltip-width: 200px;
  --scrollbar-width: 0.1rem;
}

* {
  box-sizing: border-box;
  color: var(--primary);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: var(--font-family-primary), sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
  background-color: var(--bg-primary);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--bg-tertiary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

h1 {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
}

h2 {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 110%;
}

h3 {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 110%;
}

h4 {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 110%;
}

h5 {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 110%;
}

h6 {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 110%;
}

p {
  font-size: 0.85rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.host-tool {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100svh;
  padding-bottom: var(--layout-padding);
}

.title {
  padding-left: var(--layout-padding);
  padding-top: var(--layout-padding);
  padding-bottom: var(--layout-padding);
  & .arrow-and-h1 {
    width: fit-content;
  }
}

.kfw-info {
  display: flex;
}

.kfw-number-container {
  width: fit-content;
  justify-content: center;
}

.kfw-number {
  font-family: var(--font-family-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 0 1rem;
  background-color: var(--bg-secondary);
  border-radius: var(--button-radius);
  & .kfw-id {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    margin-bottom: -0.25rem;
    color: var(--primary30);
  }
}

.arrow-container {
  cursor: pointer;
  margin-right: 0.25rem;
  margin-top: 0.5rem;
}

.arrow {
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--button-radius) / 2);
}

.arrow-and-h1 {
  display: flex;
  cursor: pointer;
  align-items: start;
}

.arrow-and-h1:hover .arrow {
  background-color: var(--bg-secondary);
}

.kfw-info {
  display: flex;
  flex-direction: column;
  margin-right: var(--layout-padding);
  & h2 {
    padding-bottom: 0.4rem;
  }
  & h3 {
    padding-bottom: 0.2rem;
  }
}

.kfw-description {
  display: flex;
  gap: 1rem;
  background-color: var(--bg-tertiary);
  width: clamp(300px, 100%, 50rem);
  font-family: var(--font-family-primary);
  overflow: hidden;
  padding: var(--layout-padding);
  border-radius: var(--button-radius);
}

.kfw-description a {
  text-decoration: underline;
  color: var(--secondary);
}
.kfw-description a:hover {
  color: var(--primary50);
}

.container-tool {
  position: relative;
  top: 0;
  flex: 1;
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 7fr);
  padding-right: var(--layout-padding);
  padding-left: var(--layout-padding);
  gap: calc(var(--layout-padding) / 2);
  overflow-y: auto;
}

.inputs {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 0 0 var(--button-radius) var(--button-radius);
}

.host-forms {
  width: 100%;
  overflow-y: auto;
  padding: var(--layout-padding);
  padding-top: calc(var(--layout-padding) * 2);
  padding-bottom: calc(var(--layout-padding) * 2);
  background-color: var(--bg-tertiary);
  word-break: break-all;
  border-radius: 0 0 var(--button-radius) var(--button-radius);
  border: none;
  & * + h2 {
    margin-top: 1rem;
  }
  & h2 {
    border-bottom: 1px solid var(--primary50);
  }
}

.wraper-gradient {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  flex-direction: column;
  overflow-y: auto;
}

.wraper-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--bg-tertiary) 30%,
    transparent
  );
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.wraper-gradient::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(
    to top,
    var(--bg-tertiary) 10%,
    transparent
  );
  border-radius: 0 0 var(--button-radius) var(--button-radius);
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.output {
  display: flex;
  flex-direction: column;
  gap: calc(var(--layout-padding) / 2);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--bg-secondary);
  font-family: var(--font-family-primary), sans-serif;
  height: var(--button-height);
  text-align: center;
  border-radius: var(--button-radius);
  border: 1px solid var(--primary);
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.button:focus {
  outline-color: var(--secondary);
}

.button:hover {
  font-weight: 300;
  color: var(--primary);
  border: 1px solid var(--secondary);
  background-color: var(--bg-secondary);
}

.button:active {
  background-color: var(--bg-tertiary);
  color: var(--primary);
}

.button:disabled {
  color: var(--bg-secondary);
  background-color: var(--primary30);
  border-color: var(--primary30);
}

input {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  font-family: var(--font-family-primary), sans-serif;
  font-size: 1rem;
}

label {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 1rem;
}

fieldset {
  margin-top: 0.5rem;
  padding-top: 0.25rem;
  border-style: none;
}

legend {
  padding-bottom: 0.1rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  word-break: normal;
  width: var(--tooltip-width);
  background-color: var(--bg-secondary);
  color: var(--primary);
  border: 1px solid var(--primary50);
  text-align: center;
  padding: 0.8rem;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-top {
  bottom: 110%;
  left: 50%;
  margin-left: calc(-1 * var(--tooltip-width) / 2);
}

.tooltip-right {
  top: -7px;
  left: 125%;
}

.tooltip-bottom {
  top: 110%;
  left: 50%;
  margin-left: calc(-1 * var(--tooltip-width) / 2);
}

.tooltip-left {
  top: -28px;
  bottom: auto;
  right: 125%;
}

.toggle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  padding-top: 0.25rem;
  min-height: var(--button-height);
}

.checkbox-toggle-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.label-toggle {
  font-family: var(--font-family-primary);
  width: calc(100% - 5rem);
}

.toggle-box {
  position: relative;
  display: flex;
  width: 60px;
  height: 30px;
}

.toggle-box input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-secondary);
  -webkit-transition: 0.15s;
  transition: 0.15s;
  border-radius: 30px;
  border: 1px solid var(--bg-secondary);
}

.toggle-round:hover {
  border: 1px solid var(--primary);
}

.toggle-round:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: var(--primary70);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-round {
  background-color: var(--bg-primary);
}

input:checked + .toggle-round:before {
  background-color: var(--primary);
}

input:focus + .toggle-round {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .toggle-round:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

.userPrice {
  pointer-events: none;
  opacity: 0;
  margin-top: 0;
  padding-top: 0;
  height: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  & legend,
  span {
    -webkit-transition: opacity 0.1s ease-out 0s, height 0.1s ease-out 0.05s;
    transition: opacity 0.1s ease-out 0s, height 0.1s ease-out 0.05s;
    height: 0;
    opacity: 0;
  }
}

/* With :has() it is possible to select elements far from eachother */
/* The + here is used to select the next sibling */
.toggle-wrapper:has(input:checked) + .userPrice {
  pointer-events: auto;
  opacity: 1;
  height: 4.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  & legend {
    -webkit-transition: height 0.1s ease-out 0s, opacity 0.1s ease-out 0.05s;
    transition: height 0.1s ease-out 0s, opacity 0.1s ease-out 0.05s;
    opacity: 1;
    height: 1.5rem;
  }
  & span {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    opacity: 1;
    height: var(--button-height);
  }
}

.slidernumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input[type="range"] {
    flex-grow: 1;
    margin-right: 3ch;
    cursor: pointer;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  border: 1px solid var(--bg-primary);
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--handle-diameter);
  height: var(--handle-diameter);
  border: 1px solid white;
  border-radius: 50%;
  background: var(--bg-secondary);
  cursor: pointer;
}

.slider:hover::-webkit-slider-thumb {
  border-color: var(--secondary);
}

.slider:active::-webkit-slider-thumb {
  background-color: var(--bg-tertiary);
}

.slider::-moz-range-thumb {
  width: var(--handle-diameter);
  height: var(--handle-diameter);
  border: 1px solid white;
  border-radius: 50%;
  background: var(--bg-tertiary);
  cursor: pointer;
}

/* Remove Arrows from number input field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  width: 5rem;
  height: var(--button-height);
  text-align: center;
  border-radius: var(--button-radius);
}

input[type="number"]:hover {
  border: 1px solid var(--primary);
}

input[type="radio"] {
  display: none;
}

.radio-fieldset {
  display: flex;
  gap: var(--button-radius);
}

.radio-option {
  display: flex;
  min-height: var(--button-height);
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-radius);
  & label {
    color: var(--primary80);
    background-color: var(--bg-secondary);
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--bg-secondary);
    border-radius: var(--button-radius);
    cursor: pointer;
    word-break: normal;
    padding: 0.25rem 0;
    transition: 0.15s;
  }
}

/* On mouse-over, add... */
.radio-fieldset span input:hover ~ label {
  color: var(--primary);
  background-color: var(--bg-secondary);
  border-color: var(--primary);
}

/* On click or touch, add... */
.radio-fieldset span input:active ~ label {
  color: var(--primary);
  background-color: var(--bg-tertiary);
  /* border-color: var(--secondary); */
}

/* When the radio option is selected... */
.radio-fieldset span input:checked ~ label {
  color: var(--primary);
  background-color: var(--bg-primary);
  /* border-color: var(--primary); */
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container {
  position: relative;
  display: flex;
  height: var(--button-height);
  padding-left: 5rem;
  align-items: center;
  border: 1px solid var(--bg-secondary);
  border-radius: var(--button-radius);
  background-color: var(--bg-secondary);
  cursor: pointer;
  color: var(--primary80);
  transition: 0.15s;
}

.checkmark {
  position: absolute;
  left: 2rem;
  height: 24px;
  width: 24px;
  /* border: 1px solid var(--primary); */
  border-radius: 0.25rem;
}

/* On mouse-over, add a grey background color */
input ~ .checkbox-container .checkmark {
  background-color: var(--bg-primary);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover {
  color: var(--primary);
  /* background-color: var(--bg-primary); */
  border-color: var(--primary);
}

/* On mouse-over, add a grey background color */
input:checked ~ .checkbox-container:hover {
  /* background-color: var(--bg-secondary); */
  border-color: var(--primary);
}

/* When the checkbox is checked, add a blue background */
input[type="checkbox"]:checked ~ .checkbox-container .checkmark {
  background-color: var(--primary);
  /* border-color: var(--primary); */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
}

/* Show the checkmark when checked */
input:checked ~ .checkbox-container .checkmark:after {
  display: block;
}

/* Show the checkmark when checked */
input:checked + .checkbox-container {
  color: var(--primary);
  background-color: var(--bg-primary);
  /* border-color: var(--secondary); */
}

/* Checkmark symbol */
.checkmark:after {
  left: 9px;
  width: 5px;
  height: 11px;
  border: solid var(--bg-primary);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Container of inputs when checkbox or radio options are disabled... */
input[type="checkbox"]:disabled ~ .checkbox-container,
.radio-fieldset span input[type="radio"]:disabled ~ label {
  color: var(--bg-tertiary);
  background-color: var(--bg-secondary);
  border-color: var(--bg-secondary);
}

/* Checkbox when input is disabled */
input[type="checkbox"]:disabled ~ .checkbox-container .checkmark {
  background-color: var(--bg-secondary);
  /* border-color: var(--bg-primary); */
}

/* Inputs when disabled */
input:disabled {
  background-color: var(--bg-secondary);
}

/* Legends when ALL its items are disabled */
legend:not(:has(~ span input:enabled, ~ input:enabled) /* only select if the legend don't have a enabled child */ 
  ) {
  pointer-events: none;
  color: var(--primary30);
  & sup {
    pointer-events: none;
    color: var(--primary30);
  }
}

/* Input number when disabled */
input[type="number"]:disabled,
input[type="number"]:disabled:hover {
  color: var(--primary30);
  /* border-color: var(--bg-primary); */
}

/* Input number when disabled */
.slider:disabled:hover,
.slider:disabled:active {
  border-color: var(--bg-primary);
  opacity: 0.5;
}

.slider:disabled::-webkit-slider-thumb,
.slider:disabled:hover::-webkit-slider-thumb,
.slider:disabled:active::-webkit-slider-thumb {
  border-color: var(--bg-primary);
  background-color: var(--bg-secondary);
}

.tool-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pill {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 1.1rem;
  padding: 1rem;
  cursor: pointer;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-tertiary);
  border-radius: var(--button-radius) var(--button-radius) 0 0;
  border: none;
}

.pill:focus {
  outline-color: var(--secondary);
}

.pill:hover {
  color: var(--primary);
}

.pill:active {
  background-color: var(--bg-primary);
  color: var(--primary);
  border-top: 2px solid var(--secondary);
}

.grayed-pill {
  color: var(--primary70);
  background-color: var(--bg-secondary);
  border-top: 2px solid var(--primary50);
}

.full-pill {
  color: var(--secondary);
  border-top: 2px solid var(--secondary);
}

.dashboard-numbers {
  display: flex;
  flex-basis: 100px;
  min-width: 200px;
  gap: calc(var(--layout-padding) / 2);
}

.numbers-mover.tablet {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  padding: calc(var(--layout-padding) / 2);
  border-radius: var(--button-radius);
  background-color: var(--bg-tertiary);
  & h3 {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  & div {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    height: 100%;
  }
}

.charts-container {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
  gap: calc(var(--layout-padding) / 2);
}

.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-end-4 {
  grid-column-end: 4;
}

.col-end-5 {
  grid-column-end: 5;
}

.col-end-6 {
  grid-column-end: 6;
}

.col-end-7 {
  grid-column-end: 7;
}

.host-chart1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.host-chart2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.host-chart3 {
  grid-column-start: 5;
  grid-column-end: 7;
}
.host-chart4 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.host-chart5 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.host-chart6 {
  grid-column-start: 5;
  grid-column-end: 7;
}

.host-chart {
  padding: var(--layout-padding);
  border-radius: var(--button-radius);
  background-color: var(--bg-tertiary);
  word-break: break-all;
}

.host-charts-plural {
  display: flex;
  flex: 1 0 300px;
}

.details {
  display: flex;
  width: 100%;
}

.development {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  padding: var(--layout-padding);
  & h1 {
    font-size: 36px;
    text-align: center;
    padding-bottom: var(--mobile-padding);
  }
  & h2 {
    text-align: center;
    padding-bottom: var(--mobile-padding);
  }
  & p {
    text-align: center;
  }
}

.host-profile {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: var(--layout-padding);
  & h1 {
    font-size: 36px;
    padding-bottom: var(--mobile-padding);
  }
  & h2 {
    text-align: center;
    padding-bottom: var(--mobile-padding);
  }
  & p {
    text-align: center;
  }
}

.host-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--layout-padding);
  border-radius: var(--button-radius);
  border: 1px solid var(--primary);
  & form {
    & div {
      padding-top: var(--layout-padding);
      display: flex;
      flex-direction: column;
      justify-content: center;
      & label {
        padding-bottom: 0.5rem;
      }
      & input {
        height: var(--button-height);
        border-radius: var(--button-radius);
        padding-left: 1rem;
        border: 1px solid var(--primary);
      }
      input:focus {
        outline-color: var(--secondary);
      }
    }
  }
}

.host-account {
  width: 100%;
  height: 100%;
}

.warning {
  color: #c9971c;
  position: absolute;
  font-size: small;
  padding-top: 0.2rem;
}

.warning-block {
  color: #c9971c;
  font-size: small;
  padding-top: 0.2rem;
}

.host-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem 3rem 1rem;
  & input {
    height: 0;
  }
  & div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.avatar {
  overflow: hidden;
  max-width: 100%;
}

.avatar-wrapper {
  position: relative;
  display: block;
}

.avatar.image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.camera-wrapper {
  height: 33%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
}

.camera-icon {
  background-image: url(https://www.gstatic.com/images/icons/material/system/2x/photo_camera_white_24dp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

/* From google: hover the NBJ9cb button will trigger the element EAyyHe to have opacity 1 */
/* way to trigger reactions from unrelated elements using only css */
@media (hover: hover) {
  .button-img:hover > .camera-wrapper {
    opacity: 1;
  }
}

.form-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & div {
    height: var(--button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: var(--layout-padding);
    border: 1px solid var(--bg-tertiary);
    border-radius: var(--button-radius);
    & label {
      width: 20%;
      padding-left: var(--layout-padding);
    }
    & input {
      width: 80%;
      height: 100%;
      padding-left: var(--layout-padding);
      border: none;
      border-radius: 0 var(--button-radius) var(--button-radius) 0;
    }
    & button {
      width: 100%;
    }
  }
}

span.nowrap {
  white-space: nowrap;
}

@media screen and (max-width: 1210px) {
  .container-tool {
    display: flex;
    flex-direction: column;
    gap: var(--mobile-padding);
  }

  .inputs {
    overflow: visible;
    -webkit-mask-image: none;
    mask-image: none;
  }

  .container-forms {
    padding-right: 0px;
    padding-left: 0px;
  }

  .dashboard-numbers {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: var(--mobile-padding);
  }

  .numbers-mover {
    display: none;
  }

  .numbers-mover.tablet {
    display: block;
  }

  .card {
    flex-basis: 30%;
  }

  .host-chart {
    min-height: 250px;
  }

  .slider::-webkit-slider-thumb {
    width: var(--mobile-handle-diameter);
    height: var(--mobile-handle-diameter);
  }

  .slider::-moz-range-thumb {
    width: var(--mobile-handle-diameter);
    height: var(--mobile-handle-diameter);
  }
}

@media screen and (max-width: 850px) {
  h1 { 
    line-height: 100%;
  }
  
  .arrow-container {
    margin-top: 0.1rem;
    }
  
  .card {
    flex-basis: 40%;
  }

  .host-chart1 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .host-chart2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .host-chart3 {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .host-chart4 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .host-chart5 {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .host-chart6 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}

@media screen and (max-width: 600px) {
  .host-tool {
    padding-bottom: var(--mobile-padding);
  }

  .title {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-top: 0;
  }

  .container-tool {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }

  .values-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .charts-container {
    display: flex;
    flex-direction: column;
  }
}
