.hidden {
  display: none;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.help-button {
  user-select: none;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--secondary),
    var(--bg-secondary),
    var(--secondary),
    var(--bg-secondary),
    var(--secondary)
  );
  top: 11px;
  right: var(--layout-padding);
  height: calc(var(--button-radius) * 2);
  padding: calc(var(--button-radius) * 2);
  border-radius: calc(var(--button-radius) * 2);
  font-size: 1.25rem;
  z-index: 100;
  animation: rotation 7s linear infinite;
}

.help-button::before,
.help-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  animation: rotation 7s linear infinite;
}

.help-button::before {
  filter: blur(1px);
  inset: 0;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--secondary),
    var(--bg-secondary),
    var(--secondary),
    var(--bg-secondary),
    var(--secondary)
  );
}

.help-button::after {
  background: var(--bg-secondary);
  inset: 1px;
}

.initial-content {
  overflow: hidden;
  max-width: 500px;
  opacity: 1;
  transition: all 0.2s ease-in-out 0.35s;
}

.final-content {
  display: flex;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out 0.15s;
}

input:checked ~ label div {
  .initial-content {
    max-width: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
  }
  .final-content {
    max-width: 500px;
    opacity: 1;
    transition: all 0.2s ease-in-out 0.2s;
  }
}

a {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--bg-tertiary);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

svg use {
  color: var(--primary);
}

svg:hover use {
  color: var(--secondary);
}

input:checked ~ label .help-button::before,
input:checked ~ label .help-button {
  background: conic-gradient(
    from var(--gradient-angle),
    var(--primary),
    var(--bg-secondary),
    var(--bg-secondary),
    var(--primary),
    var(--bg-secondary),
    var(--bg-secondary),
    var(--primary)
  );
}

.icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1280px) {
  .help-button {
    top: auto;
    bottom: calc(var(--footer-height) + 4px);
    right: calc(var(--layout-padding) + var(--scrollbar-width));
  }
}

@media screen and (max-width: 850px) {
  .help-button {
    right: calc(var(--mobile-padding) * 2 + var(--scrollbar-width));
    font-size: 1.15rem;
    height: calc(var(--button-radius) * 1.5);
  }
}

@media screen and (max-width: 700px) {
  .help-button {
    bottom: 4px;
    padding: calc(var(--button-radius) * 1.5);
  }
}

@media screen and (max-width: 400px) {
  .help-button {
    right: calc(var(--mobile-padding) + var(--scrollbar-width));
  }

  a {
    padding: 0 0.5rem;
  }

  button {
    padding: 0 0 0 0.5rem;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 360px) {
  .help-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .help-button {
    font-size: 0.9rem;
    padding: var(--button-radius);
  }

  .icon {
    width: 14px;
    height: 14px;
  }
}
