<canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
    [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
</canvas>
<!-- <details>
    <summary>Values</summary>
    <div>
        Zuschuss: {{ zuschuss/wohnungsflaeche | currency:'EUR' }}
    </div>
    <div>
        Investitionskosten: {{ investitionskosten/wohnungsflaeche | currency:'EUR' }}
    </div>
    <div>
        Finanzierungskosten Finanzmarkt: {{ finanzierungskostenMarkt/wohnungsflaeche | currency:'EUR' }}
    </div>
    <div>
        Finanzierungskosten KfW: {{ finanzierungskostenKfW/wohnungsflaeche | currency:'EUR' }}
    </div>
    <div>
        Bank Kredit: {{ bankKredit/wohnungsflaeche | currency:'EUR' }}
    </div>
    <div>
        KfW Kredit: {{ kfwKredit | currency:'EUR' }}
    </div>
</details> -->