@if(!userAgreed) {
<div class="background">
  <div class="disclaimer">
    <div class="disclaimer__content">
      <img
        class="logo"
        src="assets/bs-wortmarke-rgb-neg-RZ.svg"
        alt="BuildSystems logo"
      />
      <div class="disclaimer__text">
        <h1>Bevor Sie fortfahren</h1>
        <p>Wir sammeln keine Cookies oder Nutzungsdaten.</p>
        <p>
          Die von dem Tool generierten Daten und Kostenkennwerte basieren auf
          der Forschungsarbeit der <a
            href="https://arge-ev.de/arge-ev/publikationen/studien/"
            target="_blank"
            rel="noopener noreferrer"
            >Arge e.V.</a
          > und stammen spezifisch aus den Untersuchungen zu ”Wohnungsbau // Die
          Zukunft des Bestandes, Bauforschungsbericht Nr. 82” und ”Status und
          Prognose: So baut Deutschland – so wohnt Deutschland, Der
          Chancen-Check für den Wohnungsbau, Bauforschungsbericht Nr. 86”. Die
          KfW-relevanten Datenkennwerte zu Zinsen und Zuschüssen stammen von der
          Webseite der KfW und werden in regelmäßigen Abständen aktualisiert.
          <br />
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.kfw.de/inlandsfoerderung/Privatpersonen/Neubau/F%C3%B6rderprodukte/Klimafreundlicher-Neubau-Wohngeb%C3%A4ude-(297-298)"
            >Klimafreundlicher Neubau – Wohngebäude 297/298 ↗</a
          >
          <br />
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.kfw.de/inlandsfoerderung/Privatpersonen/Bestehende-Immobilie/F%C3%B6rderprodukte/Bundesf%C3%B6rderung-f%C3%BCr-effiziente-Geb%C3%A4ude-Wohngeb%C3%A4ude-Kredit-(261-262)"
            >Wohngebäude – Kredit 261 ↗</a
          >
        </p>
        <p>
          Die von dem Tool generierten Daten und Kosten­kennwerte basieren auf
          einer abstrakten Bewertung und ersetzen keine detaillierte Prüfung und
          Beurteilung des konkreten Einzelfalls. Wir weisen besonders darauf
          hin, dass auf Grundlage dieses Tools keine Finanzplanung, insbesondere
          keine konkrete Finanzierungs­planung für Ihr Bauvorhaben erfolgen
          kann. Für eine detaillierte Prüfung und Beurteilung stehen wir Ihnen
          selbst­verständlich gerne zur Verfügung.
        </p>
        <p class="disclaimer__text__main">
          BuildSystems GmbH übernimmt für die vom Tool generierten Kostenpunkte
          oder Förderhöhen <u
            >keine Haftung auf Richtigkeit und Vollständigkeit</u
          >, da es sich hierbei nur um reine abstrakte Schätzwerte handelt, die
          auf generischen Datensätzen basieren.
        </p>
        <p class="disclaimer__text__main">
          Haben Sie Fragen oder wünschen eine genauere Betrachtung Ihrer
          Immobilie und die Überprüfung im Bestand, kontaktieren Sie uns hier.
        </p>
        <div class="copy-mail">
          <button aria-label="Click to send an email to mail@buildsystems.de">
            <a
              title="Send email to mail@buildsystems.de"
              href="mailto:mail@buildsystems.de"
              target="_top"
            >
              <svg class="icon">
                <use xlink:href="assets/icons.svg#email" />
              </svg>
              <span>E-Mail senden</span>
            </a>
          </button>
          <button
            (click)="copyContent()"
            title="Copy mail@buildsystems.de to clipboard"
            aria-label="Click to copy mail@buildsystems.de to clipboard"
          >
            <svg class="icon" [style.display]="isCopied ? 'none' : 'block'">
              <use xlink:href="assets/icons.svg#clipboard" />
            </svg>
            <svg class="icon" [style.display]="!isCopied ? 'none' : 'block'">
              <use xlink:href="assets/icons.svg#clipboard-checked" />
            </svg>
            <span>E-Mail kopieren</span>
          </button>
        </div>
        <section class="tool-info">
          <div>Version 1.0</div>
          <div>© BuildSystems</div>
        </section>
        <div class="understand__wrapper">
          <button (click)="userAgree()" class="confirm__button">
            Ich habe verstanden
          </button>
        </div>
        <div class="footer">
          <a
            href="https://buildsystems.de/impressum/"
            class="footer__impressum"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Go to Impressum Datenschutzerklärung page"
            >Impressum Datenschutzerklärung</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
}
