<div class="wrapper-table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="shrink">Kosten</th>
        <th class="shrink">Förderung durch Bafa</th>
        <th class="delete"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of einzelmassnahmenService.einzelmassnahmenOutputProject()
            .items | reverse;
          let cnt = count;
          let i = index
        "
        [attr.id]="'num' + (cnt - i - 1)"
      >
        <td>{{ item.title }}</td>
        <td class="shrink">
          {{
            einzelmassnahmenService.findValueByTitle(item, "Vollkosten")
              | currency : "EUR" : "symbol" : "1.0-0" : "de"
          }}
        </td>
        <td class="shrink">
          {{
            einzelmassnahmenService.findValueByTitle(item, "Vollkosten") *
              this.constants.bafaMultiplier
              | currency : "EUR" : "symbol" : "1.0-0" : "de"
          }}
        </td>
        <td
          class="delete"
          (click)="
            delOutputItemFromList(
              cnt - i - 1,
              einzelmassnahmenService.einzelmassnahmenOutputProject
            )
          "
        >
          <svg class="icon">
            <use xlink:href="assets/icons.svg#trash" />
          </svg>
        </td>
      </tr>
      <tr id="total">
        <td>TOTAL</td>
        <td class="shrink">
          {{
            einzelmassnahmenService.totalKosten()
              | currency : "EUR" : "symbol" : "1.0-0" : "de"
          }}
        </td>
        <td class="shrink">
          {{
            einzelmassnahmenService.totalKosten() *
              this.constants.bafaMultiplier
              | currency : "EUR" : "symbol" : "1.0-0" : "de"
          }}
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
